<input type="radio" name="slider" id="description" checked />
<input type="radio" name="slider" id="review" />
<input type="radio" name="slider" id="create-review" />
<nav>
    <label for="description" class="description">Description</label>
    <label for="review" class="review">Reviews</label>
    <label for="create-review" class="create-review">Create Review</label>
    <div class="slider"></div>
</nav>